@tailwind base;
@tailwind components;
@tailwind utilities;

.scale-animation{
  @apply hover:scale-110 transition-all duration-700
}

::-webkit-scrollbar{
  display: none;
}

/* Add these styles to your global CSS or the component's stylesheet */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px; /* Adjust the width as needed */
}
